.wrap {
    height: $header-h;
    .body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
}
.bar-btn {
    display: none;
    cursor: pointer;
    &.active {
        display: inline-block;
    }
}
.btn-theme {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}
